.box-review-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: -webkit-fill-available;
    border: solid 2px #D7903A;
    border-radius: 15px;
    padding: 10px 0px;
}

.box-date-name-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: -webkit-fill-available;
    border-bottom: 1px solid #D7903A;
}

.box-review-stars-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: -webkit-fill-available;
    border-bottom: 1px solid #D7903A;
}

.box-stars-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.starFilled {
    color: #ffec00;
}

.border-and-padding {
    border-bottom: 1px solid #D7903A;
    padding: 10px 0px;
}

.box-delete-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

