.form-update {
    width: 270px;
    border-radius: 20px;
}

.section-update {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
    padding-left: 100px;
}

.button-form {
    background-color: #D7903A;
    color: #fafafa;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease-out;
    font-size: 15px;
}

.button-form:hover {
    background-color: #daaa70;
    color: black;
}

.image-preview{
    max-width: 270px;
    max-height: fit-content;
}

.input-file{
    display: none;
}

.image-input{
    display:grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}