.section-review-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    width: 80%;
    padding: 30px 20px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgba(209, 204, 204, 0.864);
}

.box-head-review {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    width: -webkit-fill-available;
}

.button-show-review {
    border: 2px solid #D7903A;
    color: #fafafa;
    background-color: #6C7231;
    padding: 5px;
    border-radius: 15px;
    font-size: 1.5rem;
}