@media screen and (min-width:300px) {
    .card {
        width: 270px;
    }
}

@media screen and (min-width: 600px) {
    .card {
        width: 250px;
    }
}

@media screen and (min-width: 680px) {
    .card {
        width: 270px;
    }
}

.img {
    width: 260px;
    height: 200px;
    border-radius: 20px;
}

.p {
    font-size: 1.6rem;
}

.price {
    color: green;
}

.category {
    color: black;
}

.title-card {
    height: 60px;
}

.card {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid black 2px;
    border-radius: 20px;
    background-color: rgba(209, 204, 204, 0.864);
    transition: 0.5s;
}

.card:hover {
    box-shadow: 8px 6px rgba(138, 137, 137, 0.818);
}

.link-item {
    color: black;
    text-decoration: none;
}