@media screen and (min-width:300px) {
    .card {
        width: 270px;
    }
}

@media screen and (min-width: 580px) {
    .card {
        width: 250px;
    }
}

@media screen and (min-width: 900px) {
    .card {
        width: 270px;
    }
}

.img {
    width: 60px;
    height: 60px;
}

.p {
    font-size: 1.6rem;
}

.price {
    color: green;
}

.category {
    color: grey;
}

.card {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    border: solid black 2px;
    gap: 10px;
}

.link-item {
    color: black;
}