.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 0px;
    background: url('https://res.cloudinary.com/tundra/image/upload/v1705420519/Utils/Flores.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}