.card-cart {
    padding: 15px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-cart:nth-of-type(2n) {
    background-color: #A6222E;
    border: solid 2px #CFA9A3;
}

.card-cart:nth-child(2n+1) {
    background-color: #6B2140;
    border: solid 2px #CFA9A3;
}

.box-img-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.box-img-cart img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.box-info-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    height: 200px;
}

.box-price-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.p-cart {
    color: #fafafa;
    font-size: 1.6rem;
}

.box-update-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}