@media screen and (min-width: 300px) {
    .layout {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media screen and (min-width: 600px) {
    .layout {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media screen and (min-width: 900px) {
    .layout {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.layout {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10px 10px;
}