.box-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.linkNav {
    color: #fafafa;
    transition: 0.7s;
    font-size: 1.6rem;
}

.linkNav:hover {
    text-decoration: underline;
}