@media screen and (min-width: 300px) {
    .box-state-order {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: -webkit-fill-available;
        justify-content: center;
        align-items: center;
    }

    .box-select-order-state{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}

@media screen and (min-width: 600px) {
    .box-state-order {
        flex-direction: row;
        justify-content: space-around;
    }
}

.admin-info-order {
    border-bottom: 2px solid #CFA9A3;
    padding-bottom: 5px;
}

.button-update-order {
    border: solid 2px #C9451E;
    background-color: #6C7231;
    color: #fafafa;
    border-radius: 10px;
    padding: 5px;
    transition: 0.7s;
}

.button-update-order:hover {
    background-color: #6b7231c1;
}