.buttonGoogle {
    align-items: center;
    background-color: #fff;
    border: 1px solid #00000040;
    border-radius: 0.5rem;
    color: #413f3f;
    cursor: pointer;
    display: flex;
    font-size: .875rem;
    font-weight: 700;
    gap: 0.75rem;
    height: 50px;
    line-height: 1.25rem;
    max-width: 320px;
    padding: 0.5rem 1.4rem;
    text-align: center;
    text-transform: uppercase;
    transition: all .6s ease;
    vertical-align: middle;
}
.spanGoogle{
    padding-right: 1em;
}

.buttonSend{
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--chakra-radii-md);
    font-weight: var(--chakra-fontWeights-semibold);
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    min-width: var(--chakra-sizes-10);
    font-size: var(--chakra-fontSizes-md);
    padding-inline-start: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);
    background: var(--chakra-colors-teal-500);
    color: var(--chakra-colors-white);
    box-shadow: rgb(0, 0, 0) 2px 2px 4px;
    width: 200px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    margin-top: calc(var(--chakra-space-4) * -1);
    margin-bottom: var(--chakra-space-20);
    font-family: Montserrat;
}