.section-manage-user {
    background: url('https://res.cloudinary.com/tundra/image/upload/v1705500551/Utils/EsloganNaranja.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 0px;
}

.box-search-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-input-search-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid 1px black;
    border-radius: 15px;
    padding: 3px;
}

.input-search {
    border: none;
    padding: 6px;
    border-radius: 15px;
    background-color: #fafafa;
}